[Desktop Entry]
Name=Amtsschimmel
Comment=Das Behörden-Incremental
Exec=Amtsschimmel
Icon=amtsschimmel
Type=Application
Categories=Game;
Terminal=false
